@import "null";
@import "fonts";
@import "header";
@import "main";
@import "footer";

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1216;
$md1: $maxWidthContainer;
$md2: 992;
$md3: 767.98;
$md4: 479.98;

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
